# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\WHU\JavaEE\Javaspring_mybatis_springmvc\SpringMVC\SpringMVC-02\代码\Mytest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
